@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-background text-foreground;
  }
  
  ::selection {
    @apply bg-papa-gold text-black;
  }
}

/* Custom Scrollbar for Chrome/Safari/Webkit */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  @apply bg-slate-900;
}
::-webkit-scrollbar-thumb {
  @apply bg-papa-gold-600 rounded-full border-2 border-slate-900;
  transition: background-color 0.2s ease;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-papa-gold-500;
}
